.search__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:20px;
    .search__input{
        margin: 0 20px;
        width: 75%;
    }
    .trending__button {
        margin-left: 15px;
    }
}